Ai Video Cutting.json
{
  "name": "Ai Video Cutting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "09cc4136-e0ed-4775-b735-b85686062d57",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.video-api.io/v1/file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        0
      ],
      "id": "370764d0-49bd-4535-8f59-dc52c5925ea2",
      "name": "Upload to Video-Api",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NcbISVvaDnaTelEM",
          "name": "Video-Api"
        }
      }
    },
    {
      "parameters": {
        "url": "https://static.mobiuscode.com/demo/Charge_-_Blender_Open_Movie-full_movie.webm.1080p.vp9.webm",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "533e917f-e94a-41f4-88d7-0cae4c26f3fe",
      "name": "Pull Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.video-api.io/v1/video/ai/cut",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"outputSize\": {\n    \"width\": 1920,\n    \"height\": 804\n  },\n  \"outputFps\": 24,\n  \"outputFormat\": \"H265_LOSSLESS\",\n  \"videoFileIds\": [\n    \"{{ $json.id }}\"\n  ],\n  \"prompt\": \"Create a fast-paced 20 seconds trailer from the given video.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        208
      ],
      "id": "ff170d5e-0584-43b1-b67f-dd485db63441",
      "name": "Ai Cut Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NcbISVvaDnaTelEM",
          "name": "Video-Api"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.video-api.io/v1/job/{{ $('Ai Cut Video').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        208
      ],
      "id": "e3baa445-215b-41c5-bc39-5d1606bcc919",
      "name": "Check Job Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NcbISVvaDnaTelEM",
          "name": "Video-Api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "607798ff-0e8c-4b49-bbbf-0ca6ab93e700",
              "leftValue": "={{ $json.status }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        208
      ],
      "id": "032fe112-5d5e-417e-9374-1e3e5267ecaf",
      "name": "If is done"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        432
      ],
      "id": "8a11b771-043a-4384-8c94-dd2eedde7039",
      "name": "Wait",
      "webhookId": "4f1f8a74-7240-450a-af89-5b80c8c7aeae"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "=Video {{ $('Check Job Status').item.json.result }}",
        "regionCode": "US",
        "categoryId": "20",
        "options": {
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        976,
        192
      ],
      "id": "31ef5453-5298-4b68-889f-d307b3fe44be",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "dChNthzaPwdQzkNo",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.video-api.io/v1/file/{{ $json.result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        192
      ],
      "id": "5fdbffe8-f576-4003-b3ed-b7ea2b6a19a2",
      "name": "Pull Cut Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NcbISVvaDnaTelEM",
          "name": "Video-Api"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Pull Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Video-Api": {
      "main": [
        [
          {
            "node": "Ai Cut Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Video": {
      "main": [
        [
          {
            "node": "Upload to Video-Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai Cut Video": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "If is done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is done": {
      "main": [
        [
          {
            "node": "Pull Cut Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Cut Video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8eb0c17b-9ec0-4906-9215-dc0b2f553714",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb04025ba1cb88a9826077449b9b38e32267085623e7264a4d14188d1def650b"
  },
  "id": "8O684xB8AmrqeqgE",
  "tags": []
}